.entity-tracer-entity-tracer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#entity-tracer-ui {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#entity-tracer-results {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
