
{% import '@entity_tracer/macros.twig' as recurseArray %}

<h1>{{ 'Results'|t }}</h1>

<h2>{{ label }}</h2>
{% if results %}
  {% for field_key,result in results %}
      <b>{{ entity_tracer_label(field_key) }}</b>
    {{ recurseArray.recurseArray(result)}}
  {% endfor %}
{% else %}
  <p>{{ 'No reference fields for this bundle'|t }}</p>
{% endif %}
