{% macro recurseArray(array) %}
  {% import _self as macros %}
  {% if not array is iterable %}
      {{ array }}
  {% else %}
    {% for key,value in array %}
      <ul>
        <li>
          {% if 'end_' in key %}
            {{ entity_tracer_label(value) }}
          {% else %}
            {{ entity_tracer_label(key) }}: {{ macros.recurseArray(value) }}
          {% endif %}
        </li>
      </ul>
    {% endfor %}
  {% endif %}
{% endmacro %}
